<div class="container-fluid bg-black text-white py-4 min-vh-100">
  <div class="d-flex justify-content-between align-items-center mb-4">
    <h3 class="">My Notes</h3>
    <button class="btn bi bi-patch-plus btn-light" (click)="addCategory()">
      Add Category
    </button>
  </div>
  <hr />
  <app-category-card [categories] = "viewCategories"></app-category-card>
  <button
    class="bi bi-patch-plus btn border-bottom-dashed"
    (click)="addCategory()"
  >
    add Category
  </button>
  @if(showAddCategoryForm) {

  <app-add-category-form
    (closeform)="closeForm($event)"
    (addCategory)="handleCategoryAdded($event)"
  ></app-add-category-form>
  }
</div>
